body {
	background-color: black;
}

p {
    color:white;
    display:inline;
    padding: 40px;
}

a {
    text-decoration: none;
    color:white;
    font-family: 'Londrina Solid', cursive;
    font-size: 30px;
}

.toppanel {
    position: absolute;
    left: 50%;
    top: 3%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 50px;
}