html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  max-width: 672px;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 0 10px;
  font-family: "Open Sans";
}

.wholepanel{
  padding-top: 10%;
}

.name {
  color:black;
}

@media screen and (min-width: 680px) {
  main {
    margin: 40px 0;
  }
}

h1, h2 {
  line-height: 1.2;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  color: #888;
  font-size: 9px;
}

#top a{
    text-decoration: none;
    color:white;
    font-family: 'Londrina Solid', cursive;
    font-size: 30px;
}

#top p{
    color:white;
    display:inline;
    padding: 40px;
}


.toppanel {
    position: absolute;
    left: 50%;
    top: 3%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

a {
  color: #07A;

}

footer > a {
  color: #888 !important;
}

blockquote {
  background: #F9F9F9;
  border-left: 10px solid mediumturquoise;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  font-family: monospace;
  background-color: paleturquoise;
}
blockquote p {
  display: inline;
  color:black;
}

@media screen and (min-width: 400px) {
  blockquote {
    display: table;
  }
  blockquote > * {
    display: table-cell;
  }
  blockquote > .name {
    padding-right: 8px;
  }
}

